language: go
install:
  - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
  - dep ensure -vendor-only
script:
  - echo "skipping..."
  - curl https://deps.app/install.sh | bash
  - DEPS_TEST=true ./bin/deps dev test -l
after_success:
  - test -n "$TRAVIS_TAG" && curl -sL https://git.io/goreleaser | bash
